@model IEnumerable<Kit_Manager_Fall_2022.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Student Management</h1>

<div>
    <form asp-controller="Students" asp-action="Index">
        <span class="btn-group">
            <input class="form-control" type="text" name="SearchText" placeholder="Search Key" />
            <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search" />
        </span>
    </form>
</div>

<div>
	<br /><br />
	<p>
		<a asp-action="Create" class="btn btn-basic">
			@*Icon Code*@
			<i class="bi bi-plus-circle"></i> &nbsp; Create New Student
		</a>
	</p>

<table class="table">
    <thead>
    <tr>
	    <th>
		    @Html.DisplayNameFor(model => model.StudentId)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.FName)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.LName)
	    </th>

				@*//***SEE THIS INFO IN DETAILS BUTTON***//*@

				@*<th>
					@Html.DisplayNameFor(model => model.CollegeEmail)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PersonalEmail)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Phone)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Address)
				</th>
				@*  <th>
				@Html.DisplayNameFor(model => model.EmergencyContact)
				</th>*@

	    <th>
		    @Html.DisplayNameFor(model => model.Campus)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Active)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.HasItem)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.LastEdit)
	    </th>
	  
	    <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
	<tr>
		<th>
			@Html.DisplayFor(modelItem => item.StudentId)
		</th>
		<td>
			@Html.DisplayFor(modelItem => item.FName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LName)
		</td>

				
				@*//***SEE THIS INFO IN DETAILS BUTTON***//*@
				
				@*<td>
					@Html.DisplayFor(modelItem => item.CollegeEmail)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PersonalEmail)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmergencyContact)
				</td>*@


		<td>
			@Html.DisplayFor(modelItem => item.Campus)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Active)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.HasItem)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LastEdit)
		</td>
		
			<td>
                    @*//***Allign Icons in container**//*@
                    <div class="w-75 btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-edit mx-2">
                            @*Edit button code from Bootstrap Icon*@
                            <i class="bi bi-pencil-square"></i>Edit
                        </a>

                        <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-detail mx-2">
                            @*Detail button code from Bootstrap Icon*@
                            <i class="bi bi-three-dots"></i>Details
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-delete mx-2">
                            @*Delete button code from Bootstrap Icon*@
                            <i class="bi bi-trash-fill"></i>Delete
                        </a>
                    </div>
                </td>
	</tr>
}
    </tbody>
</table>
</div>