@model IEnumerable<Kit_Manager_Fall_2022.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary"> Equipment</h2>
		</div>
		<div class="col-6">
			<a asp-controller="Equipments" asp-action="Create" class="btn btn-outline-warning">
				<i class="bi bi-plus-circle"></i>&nbsp; Add Kit
			</a>
			<a asp-controller="Equipments" asp-action="AddItem" class="btn btn-outline-warning">
				<i class="bi bi-plus-circle"></i>&nbsp; Add Item
			</a>
		</div>
	</div>
</div>
<br/>


<div>
	<form asp-controller="Equipments" asp-action="Index">
		<span class="btn-group">
			<input class="form-control" type="text" name="SearchText" placeholder="Search Key"/>
			<input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search"/>
		</span>
	</form>
</div>

<br/>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEdit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEdit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
