@model IEnumerable<Kit_Manager_Fall_2022.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-light">Equipment</h1>

<div>
    
    <div>
        <form asp-controller="Equipments" asp-action="Index">
            <span class="btn-group">
                <input class="form-control" type="text" name="SearchText" placeholder="Search Key" />
                <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search" />
            </span>
        </form>
    </div>

    <br /><br />

    <p>
        <a asp-action="AddKit" class="btn btn-basic">
            @*Icon Code*@
            <i class="bi bi-plus-circle"></i> &nbsp;
            Add Kit
        </a>

        <a asp-action="AddItem" class="btn btn-basic">
            @*Icon Code*@
            <i class="bi bi-plus-circle"></i> &nbsp; Add Item
        </a>
    </p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEdit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEdit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
                <td>
                    @*//***Allign Icons in container**//*@
                    <div class="w-75 btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.ItemId" class="btn btn-edit mx-2">
                            @*Edit button code from Bootstrap Icon*@
                            <i class="bi bi-pencil-square"></i>Edit
                        </a>

                        <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-detail mx-2">
                            @*Detail button code from Bootstrap Icon*@
                            <i class="bi bi-three-dots"></i>Details
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.ItemId" class="btn btn-delete mx-2">
                            @*Delete button code from Bootstrap Icon*@
                            <i class="bi bi-trash-fill"></i>Delete
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
</div>